.playertitle {
  color: #c68c53;
  margin: 2vh;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 2vh;
  width: 40%;
}

.message {
  -ms-transform: rotate(-5deg); /* IE 9 */
-webkit-transform: rotate(-5deg); /* Safari */
transform: rotate(-5deg);
  font-size: 8vh;
  font-weight: bold;
  color: #d2a679;
  margin: 20px 0px;
  position: absolute;
  padding: 15px 20px;
  border: double 10px #d2a679;
  border-radius: 5px;
}
