.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1vh #ddd;
  border-left: solid 0.1vh #ddd;
  outline-color: #DAA520;
}

.game {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 45vh;
}
