.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 0.1vh #ddd;
  border-left: solid 0.1vh #ddd;
  outline-color: #66cc00;
}

.line {
  display: flex;
  flex-direction: row;
}

.bloc {
  width: 3vh;
  height: 3vh;
  border-bottom: solid 0.1vh #ddd;
  border-right: solid 0.1vh #ddd;
  background-color: #fff;
}

.blackDot {
  position: relative;
  top: 2.3vh;
  left: 2.3vh;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 2vh;
  background-color: black;
}

.whiteDot {
  position: relative;
  top: 2.3vh;
  left: 2.3vh;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 2vh;
  background-color: white;
}

.noDot {
  position: relative;
  top: 2.3vh;
  left: 2.3vh;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: 2vh;
}

.noDot:hover {
  background-color: #cccccc;
}
